<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginSmokeTest"/>
            <class name="tests.NegativeLoginTest"/>
            <class name ="tests.IdentityLifecycleTest"/>
            <class name="tests.E2E_DragonStack_Dashboard_Test"/>
        </classes>
    </test>
</suite>